## 천재교육_2기_이윤섭

### <필수 분석 1번>
* 사용자의 충성도 분류 (3그룹) 진행 rfm
    - 분류의 제한은 없으나 분류의 논리가 필요

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
%matplotlib inline
plt.rcParams['font.family'] = 'Malgun Gothic'

In [2]:
df=pd.read_excel('./미니프로젝트-쇼핑몰 실습데이터.xlsx')
df

,주문번호,업체명,상품명,제조사,주문수량,판매금액,결제방법,주문일자,처리상태,초도상품,제작문구 내역,할부기간
0,191213170236874,지니,eHBM셀파수학교실 비닐봉투-1세트 100장입,HB,1,5000,신용카드,2019-12-13 17:03:37,구매확정,N,NaN,NaN
1,191216100347429,지니,eHBM셀파수학교실 비닐봉투-1세트 100장입,HB,1,5000,신용카드,2019-12-16 10:04:50,구매확정,N,NaN,NaN
2,191216100347429,지니,eHBM셀파수학교실 삼색볼펜-1세트 50개입,HB,3,67500,신용카드,2019-12-16 10:04:50,구매확정,N,NaN,NaN
3,191216173241622,지니,eHBM셀파수학교실 회원용 리플렛-1세트 50권입,HB,2,30000,신용카드,2019-12-16 17:33:43,구매확정,N,NaN,NaN
4,191216173241622,지니,eHBM셀파수학교실-학습계통도(중등 5종),HB,1,750,신용카드,2019-12-16 17:33:43,구매확정,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
218596,221108104041264,에이스디포,[스마트 HBE*초도] 입체 액자형 현판,에이스디포,1,35000,웰컴마일,2022-11-08 10:38:21,결제완료,Y,NaN,NaN
218597,221108104041264,에이스디포,[스마트 HBE*초도] 아크릴 사인,HB,1,26900,웰컴마일,2022-11-08 10:38:21,결제완료,Y,NaN,NaN
218598,221108104536307,에이스디포,[스마트 HBM] 아크릴 사인,HB,1,26900,신 + 포,2022-11-08 10:43:15,배송준비,N,NaN,NaN
218599,221108104735216,다우기술,[스타벅스] 아이스 카페 아메리카노 T,스타벅스,1,4050,포인트,2022-11-08 10:45:14,배송완료,N,NaN,NaN
218600,221108105148171,다우기술,[특별한 크리스마스] 2차-신세계 상품권 모바일 교환권-1만원권,신세계,17,161500,신용카드,2022-11-08 10:49:28,배송완료,N,NaN,NaN

## 1. 사용자의 충성도 분류 (3그룹) 진행

In [3]:
df['날짜점수']=0
df['빈도점수']=0
df['가격점수']=0

In [4]:
for i in df.index:
    if df.loc[i,'주문일자']<pd.Timestamp('2020-07-01'):
        df.loc[i,'날짜점수']=0
    elif df.loc[i,'주문일자']<pd.Timestamp('2021-01-01'):
        df.loc[i,'날짜점수']=20
    elif df.loc[i,'주문일자']<pd.Timestamp('2021-07-01'):
        df.loc[i,'날짜점수']=40
    elif df.loc[i,'주문일자']<pd.Timestamp('2022-01-01'):
        df.loc[i,'날짜점수']=60
    elif df.loc[i,'주문일자']<pd.Timestamp('2022-07-01'):
        df.loc[i,'날짜점수']=80   
    else:
        df.loc[i,'날짜점수']=100

In [5]:
for i in df.index:
    name=df.loc[i,'주문번호']
    m=df['주문번호']==name
    res=df[m].shape[0]
    
    df.loc[i,'빈도점수']=res

In [6]:
for i in df.index:
    name=df.loc[i,'주문번호']
    m=df['주문번호']==name
    res=df[m]['판매금액'].sum()
    
    df.loc[i,'가격점수']=res

In [7]:
df

,주문번호,업체명,상품명,제조사,주문수량,판매금액,결제방법,주문일자,처리상태,초도상품,제작문구 내역,할부기간,날짜점수,빈도점수,가격점수
0,191213170236874,지니,eHBM셀파수학교실 비닐봉투-1세트 100장입,HB,1,5000,신용카드,2019-12-13 17:03:37,구매확정,N,NaN,NaN,0,1,5000
1,191216100347429,지니,eHBM셀파수학교실 비닐봉투-1세트 100장입,HB,1,5000,신용카드,2019-12-16 10:04:50,구매확정,N,NaN,NaN,0,2,72500
2,191216100347429,지니,eHBM셀파수학교실 삼색볼펜-1세트 50개입,HB,3,67500,신용카드,2019-12-16 10:04:50,구매확정,N,NaN,NaN,0,2,72500
3,191216173241622,지니,eHBM셀파수학교실 회원용 리플렛-1세트 50권입,HB,2,30000,신용카드,2019-12-16 17:33:43,구매확정,N,NaN,NaN,0,5,72750
4,191216173241622,지니,eHBM셀파수학교실-학습계통도(중등 5종),HB,1,750,신용카드,2019-12-16 17:33:43,구매확정,N,NaN,NaN,0,5,72750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218596,221108104041264,에이스디포,[스마트 HBE*초도] 입체 액자형 현판,에이스디포,1,35000,웰컴마일,2022-11-08 10:38:21,결제완료,Y,NaN,NaN,100,2,61900
218597,221108104041264,에이스디포,[스마트 HBE*초도] 아크릴 사인,HB,1,26900,웰컴마일,2022-11-08 10:38:21,결제완료,Y,NaN,NaN,100,2,61900
218598,221108104536307,에이스디포,[스마트 HBM] 아크릴 사인,HB,1,26900,신 + 포,2022-11-08 10:43:15,배송준비,N,NaN,NaN,100,1,26900
218599,221108104735216,다우기술,[스타벅스] 아이스 카페 아메리카노 T,스타벅스,1,4050,포인트,2022-11-08 10:45:14,배송완료,N,NaN,NaN,100,1,4050
218600,221108105148171,다우기술,[특별한 크리스마스] 2차-신세계 상품권 모바일 교환권-1만원권,신세계,17,161500,신용카드,2022-11-08 10:49:28,배송완료,N,NaN,NaN,100,1,161500

In [8]:
df_score=df[['날짜점수','빈도점수','가격점수']]

In [9]:
df_score

        날짜점수  빈도점수    가격점수
0          0     1    5000
1          0     2   72500
2          0     2   72500
3          0     5   72750
4          0     5   72750
...      ...   ...     ...
218596   100     2   61900
218597   100     2   61900
218598   100     1   26900
218599   100     1    4050
218600   100     1  161500

[218601 rows x 3 columns]

In [37]:
df['가격점수'].max()

19800000

In [10]:
minmax=min_max_scaler.fit_transform(df_score)

In [11]:
df_minmax=pd.DataFrame(minmax,columns=['날짜점수min_max','빈도점수min_max','가격점수min_max'])

In [12]:
df_minmax

        날짜점수min_max  빈도점수min_max  가격점수min_max
0               0.0     0.000000     0.000253
1               0.0     0.003559     0.003662
2               0.0     0.003559     0.003662
3               0.0     0.014235     0.003674
4               0.0     0.014235     0.003674
...             ...          ...          ...
218596          1.0     0.003559     0.003126
218597          1.0     0.003559     0.003126
218598          1.0     0.000000     0.001359
218599          1.0     0.000000     0.000205
218600          1.0     0.000000     0.008157

[218601 rows x 3 columns]

In [13]:
df_minmax['합계점수']=df_minmax['날짜점수min_max']+df_minmax['빈도점수min_max']+df_minmax['가격점수min_max']

In [14]:
df_minmax.max()

날짜점수min_max    1.000000
빈도점수min_max    1.000000
가격점수min_max    1.000000
합계점수           2.051742
dtype: float64

In [15]:
df_merge=pd.merge(df,df_minmax,left_index=True, right_index=True)

In [16]:
df_drop=df_merge.drop(['날짜점수','빈도점수','가격점수'],axis='columns')

In [17]:
df_drop

,주문번호,업체명,상품명,제조사,주문수량,판매금액,결제방법,주문일자,처리상태,초도상품,제작문구 내역,할부기간,날짜점수min_max,빈도점수min_max,가격점수min_max,합계점수
0,191213170236874,지니,eHBM셀파수학교실 비닐봉투-1세트 100장입,HB,1,5000,신용카드,2019-12-13 17:03:37,구매확정,N,NaN,NaN,0.0,0.000000,0.000253,0.000253
1,191216100347429,지니,eHBM셀파수학교실 비닐봉투-1세트 100장입,HB,1,5000,신용카드,2019-12-16 10:04:50,구매확정,N,NaN,NaN,0.0,0.003559,0.003662,0.007220
2,191216100347429,지니,eHBM셀파수학교실 삼색볼펜-1세트 50개입,HB,3,67500,신용카드,2019-12-16 10:04:50,구매확정,N,NaN,NaN,0.0,0.003559,0.003662,0.007220
3,191216173241622,지니,eHBM셀파수학교실 회원용 리플렛-1세트 50권입,HB,2,30000,신용카드,2019-12-16 17:33:43,구매확정,N,NaN,NaN,0.0,0.014235,0.003674,0.017909
4,191216173241622,지니,eHBM셀파수학교실-학습계통도(중등 5종),HB,1,750,신용카드,2019-12-16 17:33:43,구매확정,N,NaN,NaN,0.0,0.014235,0.003674,0.017909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218596,221108104041264,에이스디포,[스마트 HBE*초도] 입체 액자형 현판,에이스디포,1,35000,웰컴마일,2022-11-08 10:38:21,결제완료,Y,NaN,NaN,1.0,0.003559,0.003126,1.006685
218597,221108104041264,에이스디포,[스마트 HBE*초도] 아크릴 사인,HB,1,26900,웰컴마일,2022-11-08 10:38:21,결제완료,Y,NaN,NaN,1.0,0.003559,0.003126,1.006685
218598,221108104536307,에이스디포,[스마트 HBM] 아크릴 사인,HB,1,26900,신 + 포,2022-11-08 10:43:15,배송준비,N,NaN,NaN,1.0,0.000000,0.001359,1.001359
218599,221108104735216,다우기술,[스타벅스] 아이스 카페 아메리카노 T,스타벅스,1,4050,포인트,2022-11-08 10:45:14,배송완료,N,NaN,NaN,1.0,0.000000,0.000205,1.000205
218600,221108105148171,다우기술,[특별한 크리스마스] 2차-신세계 상품권 모바일 교환권-1만원권,신세계,17,161500,신용카드,2022-11-08 10:49:28,배송완료,N,NaN,NaN,1.0,0.000000,0.008157,1.008157

In [18]:
df_final=df_drop.drop_duplicates('주문번호')

In [19]:
df_final

,주문번호,업체명,상품명,제조사,주문수량,판매금액,결제방법,주문일자,처리상태,초도상품,제작문구 내역,할부기간,날짜점수min_max,빈도점수min_max,가격점수min_max,합계점수
0,191213170236874,지니,eHBM셀파수학교실 비닐봉투-1세트 100장입,HB,1,5000,신용카드,2019-12-13 17:03:37,구매확정,N,NaN,NaN,0.0,0.000000,0.000253,0.000253
1,191216100347429,지니,eHBM셀파수학교실 비닐봉투-1세트 100장입,HB,1,5000,신용카드,2019-12-16 10:04:50,구매확정,N,NaN,NaN,0.0,0.003559,0.003662,0.007220
3,191216173241622,지니,eHBM셀파수학교실 회원용 리플렛-1세트 50권입,HB,2,30000,신용카드,2019-12-16 17:33:43,구매확정,N,NaN,NaN,0.0,0.014235,0.003674,0.017909
8,191217142849520,쥬크박스,[학생선물] 전통탈,쥬크박스,1,900,가상계좌,2019-12-17 14:29:52,주문취소,N,NaN,NaN,0.0,0.000000,0.000045,0.000045
9,191218131502518,지니,"HBE종이컵-1Box 1,000개입",HB,5,105000,신용카드,2019-12-18 13:16:06,미결제,N,NaN,NaN,0.0,0.000000,0.005303,0.005303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218595,221108103722743,다우기술,[신세계] 신세계 상품권-1만원권,신세계,1,9600,신용카드,2022-11-08 10:35:02,배송완료,N,NaN,NaN,1.0,0.000000,0.000485,1.000485
218596,221108104041264,에이스디포,[스마트 HBE*초도] 입체 액자형 현판,에이스디포,1,35000,웰컴마일,2022-11-08 10:38:21,결제완료,Y,NaN,NaN,1.0,0.003559,0.003126,1.006685
218598,221108104536307,에이스디포,[스마트 HBM] 아크릴 사인,HB,1,26900,신 + 포,2022-11-08 10:43:15,배송준비,N,NaN,NaN,1.0,0.000000,0.001359,1.001359
218599,221108104735216,다우기술,[스타벅스] 아이스 카페 아메리카노 T,스타벅스,1,4050,포인트,2022-11-08 10:45:14,배송완료,N,NaN,NaN,1.0,0.000000,0.000205,1.000205
218600,221108105148171,다우기술,[특별한 크리스마스] 2차-신세계 상품권 모바일 교환권-1만원권,신세계,17,161500,신용카드,2022-11-08 10:49:28,배송완료,N,NaN,NaN,1.0,0.000000,0.008157,1.008157

In [20]:
df_final2=df_final[['주문번호','합계점수']]

In [21]:
df_final2

                   주문번호      합계점수
0       191213170236874  0.000253
1       191216100347429  0.007220
3       191216173241622  0.017909
8       191217142849520  0.000045
9       191218131502518  0.005303
...                 ...       ...
218595  221108103722743  1.000485
218596  221108104041264  1.006685
218598  221108104536307  1.001359
218599  221108104735216  1.000205
218600  221108105148171  1.008157

[154795 rows x 2 columns]

In [22]:
q1=df_final2['합계점수'].quantile(1/3)
q2=df_final2['합계점수'].quantile(2/3)
q3=df_final2['합계점수'].quantile(1)

In [23]:
print(q1,q2,q3)

0.6005252525252525 0.8024747474747476 2.0517424242424243

In [25]:
list1=[]

for i in range(len(df_final2.index)):
    if (df_final2.iloc[i,1]) <= q1:
        list1.append([df_final2.iloc[i,0],df_final2.iloc[i,1],'3등급'])
    elif (df_final2.iloc[i,1]) <=q2:
        list1.append([df_final2.iloc[i,0],df_final2.iloc[i,1],'2등급'])
    else:
        list1.append([df_final2.iloc[i,0],df_final2.iloc[i,1],'1등급'])
final=pd.DataFrame(list1,columns=['주문번호','합계점수','등급'])
final

                   주문번호      합계점수   등급
0       191213170236874  0.000253  3등급
1       191216100347429  0.007220  3등급
2       191216173241622  0.017909  3등급
3       191217142849520  0.000045  3등급
4       191218131502518  0.005303  3등급
...                 ...       ...  ...
154790  221108103722743  1.000485  1등급
154791  221108104041264  1.006685  1등급
154792  221108104536307  1.001359  1등급
154793  221108104735216  1.000205  1등급
154794  221108105148171  1.008157  1등급

[154795 rows x 3 columns]

In [29]:
final_sort= final.sort_values('합계점수', ascending=False)

In [30]:
f1st=final_sort['등급']=='1등급'
s2nd=final_sort['등급']=='2등급'
t3rd=final_sort['등급']=='3등급'

In [31]:
final_sort[f1st]['합계점수'].describe()

count    51570.000000
mean         0.962763
std          0.077881
min          0.802478
25%          1.000005
50%          1.000253
75%          1.001212
max          2.051742
Name: 합계점수, dtype: float64

In [32]:
final_sort[s2nd]['합계점수'].describe()

count    51604.000000
mean         0.738441
std          0.090435
min          0.600527
25%          0.608682
50%          0.800154
75%          0.800449
max          0.802475
Name: 합계점수, dtype: float64

In [33]:
final_sort[t3rd]['합계점수'].describe()

count    51621.000000
mean         0.349969
std          0.186002
min          0.000000
25%          0.201742
50%          0.400737
75%          0.412586
max          0.600525
Name: 합계점수, dtype: float64

In [38]:
final_sort[f1st].head(3)

                   주문번호      합계점수   등급
150022  221026153745575  2.051742  1등급
61755   211123163230446  1.600000  1등급
130153  220824103017567  1.310525  1등급

In [39]:
final_sort[s2nd].head(3)

                   주문번호      합계점수   등급
93314   220414153833917  0.802475  2등급
73197   220127175729583  0.802475  2등급
108328  220606233148141  0.802475  2등급

In [40]:
final_sort[t3rd].head(3)

                  주문번호      합계점수   등급
57468  211029211106754  0.600525  3등급
54752  211007101346203  0.600525  3등급
53232  210923212748306  0.600525  3등급